{% extends "layout.html"%}
{% block content %}
        <div>
           <h1 class="display-3">
               About us!
           </h1>
           <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
               Qui sunt quasi expedita facere, voluptatem perferendis eos enim minima, 
               molestiae iure distinctio ea incidunt, labore eum!
               Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Molestiae at quaerat nihil eveniet officia blanditiis velit maiores commodi,
               dolore perspiciatis illum voluptatum nobis mollitia?
           </p>
        </div>
    {% endblock %}
    