{% extends "layout.html"%}
{% block content %}
        <div>
            <div>
                <h1>Blog Posts</h1>
            </div>
           <div>
            {% for post in posts %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                {% if post.liked %}
                   <small><span class="h5 text-secondary">{{post.liked}}</span> Likes</small>
                {% else %}
                   <small>No Likes</small>
                {% endif %}
              </div>

            </article>
            {% endfor %}
           </div>
        </div>
    {% endblock %}
    